* {
    box-sizing: border-box;
}

.container {
    height: 400px;
    width: 300px;
    margin: 100px;
    display: flex;
}

.box-1 {
    background-color: #064F48;
    height: 400px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
    background-image: url('asset-s/asset\ 41.png');

}

.t1 {
    color: white;
    font-weight: bold;
    font-family: Calibri;
    font-size: 20px;
    margin-top: 30px;
}

.t2 {
    color: #FFCE4A;
    font-weight: bolder;
    font-family: Calibri;
    font-size: 40px;
    margin-top: -10px;
}

.i-1 {
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: right;
    padding-bottom: 05px;
}
.t3{
    position: absolute;
    right:0;
}
.poster-1 {
    position: relative;
}
.i-2{
    position: absolute;
    right:0;
}
