* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('assert/world\ map.jpg'); */
}

.world {
    display: flex;
    justify-content: center;
    align-items: center;

}

.map {
    height: 500px;
    width: 1000px;
}

.airplane {
    height: 20px;
    width: 20px;
}

.airplane {
    height: 50px;
    width: 50px;
    animation-name: circle;
    animation-duration: 3s;
    position: absolute;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;

}

@keyframes circle {

    0% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(20px, 15px);
    }

    30% {
        transform: translate(30px, 25px);
    }

    45% {
        transform: translate(40px, 30px);
    }

    60% {
        transform: translate(50px, 38px);
    }

    75% {
        transform: translate(60px, 45px);
    }

    90% {
        transform: translate(70px, 53px);
    }

}