* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.rectriangle {
    height: 300px;
    width: 500px;
    background-color: #350264;

}

.rectriangle:hover {
    animation-name: rectriangle;
    animation-duration: 1s;
    /* animation-timing-function: linear; */

}

@keyframes rectriangle {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}