@media (min-width:320px) {
  .menu-con .menubar {
    display: block;
  }

  .image-1 {
    padding: 0px;
  }

  .text-1 .p1 br {
    display: none;
  }

  .text-1 {
    margin: 30px 0px;
  }

  /* .button-gs {
    height: 60px;
    width: 130px;
    font-size: 17px;
  } */
  .digital-2 .p2 {
    font-size: 18px;
  }

  .digital-2 .logo-group-5 {
    display: flex;
    flex-wrap: wrap;
  }

  .logo-group-5 img {
    height: 22;
    width: 80;
    margin-top: 40px;
    padding: 0px 10px;
  }

  .count-1 h2 {
    font-size: 35px;
  }

  .arti-text h3 {
    font-size: 27px;
  }

  .arti-text .p4 {
    font-size: 20px;
  }

  .arti .a_i {
    font-size: 22px;
  }

  .text-2 {
    margin-top: 50px;
  }

}


@media (min-width:576px) {}

@media (min-width:768px) {

  .all-menu .menu-con {
    display: block;
    display: flex;
  }

  .text-1 .h1 br {
    display: none;
  }

  h3 {
    font-size: 27px;
  }

}

@media (min-width: 992px) {
  .all-menu .nav-items {
    display: block;
  }

  .menu-con {
    display: block;
  }

  .menu-con .menubar {
    display: none;
  }

  /* Banner section */

  .banner {
    grid-template-columns: auto 50%;
    justify-content: space-between;
  }

  .text-1 {
    order: 1;
  }

  .image-1 {
    order: 2;
  }

  .text-1 .h1 br {
    display: block;
  }

  .text-1 .p1 br {
    display: block;
  }

  .text-1 {
    text-align: start;
  }

  .text-1 .h1 {
    text-align: start;
    margin: 30px 0px;
  }

  .button-gs {
    margin: 0px;
  }

  /* ************************************ */
  /* <!-- Section-1 --> */

  .digital-2 .p2 {
    font-size: 12px;
  }

  .logo-group-5 img {
    height: 30px;
    width: 110px;
    margin-top: 15px;
    padding: 0px 10px;
  }

  /* ************************************ */
  /* <!-- Section-2 --> */

  .digital-3 .count-2 {
    display: flex;
    justify-content: center;
  }

  .count-1 h2 {
    font-size: 40px;
  }

  .arti-text h3 {
    font-size: 18px;
  }

  .arti-text .p4 {
    font-size: 17px;
    padding: 10px;
  }

  .arti .a_i {
    font-size: 16px;
  }

  /* ************************************ */
  /* <!-- Section-3 --> */

  .text-area-1 {
    order: 1;
  }

  .card-area {
    order: 2;
  }


  .digital-4 {
    display: flex;
    flex-wrap: nowrap;
  }

  .card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 430px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 30px;

  }

  .card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 400px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 30px;
    margin-left: 50px;
  }

  .card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 405px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 30px;
    margin-left: 25px;

  }

  .circle {
    height: 60px;
    width: 80px;
    border-radius: 100%;
    background-color: #e5f4fd;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #5eb9f0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    margin-right: 15px;
  }

  .card-area {
    margin-left: 50px;
  }

  .text-area-1 .p5 {
    margin-top: 0px;
  }

  .text-area-1 .button-lm {
    height: 45px;
    width: 110px;
  }

  /* ************************************ */
  /* <!-- Section-4 --> */

  .digital-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .image-2 {
    padding: 0px 20px;
  }

  .text-2 {
    margin: 0px;
    margin-left: 50px;
    text-align: start;
  }

  .line:hover {
    color: #5eb9f0;
  }


















}

@media (min-width:1200px) {}

@media (min-width:1400px) {}