@media (min-width:320px) {
  .menu-con .menubar {
    display: block;
  }

  .image-1 {
    padding: 0px;
  }

  .text-1 .p1 br {
    display: none;
  }

  .text-1 {
    margin: 30px 0px;
  }

  /* .button-gs {
    height: 60px;
    width: 130px;
    font-size: 17px;
  } */
  .digital-2 .p2 {
    font-size: 18px;
  }

  .digital-2 .logo-group-5 {
    display: flex;
    flex-wrap: wrap;
  }

  .logo-group-5 img {
    height: 22;
    width: 80;
    margin-top: 40px;
    padding: 0px 10px;
  }

  .count-1 h2 {
    font-size: 35px;
  }

  .arti-text h3 {
    font-size: 27px;
  }

  .arti-text .p4 {
    font-size: 20px;
  }

  .arti .a_i {
    font-size: 22px;
  }



}


@media (min-width:576px) {}

@media (min-width:768px) {

  .all-menu .menu-con {
    display: block;
    display: flex;
  }

  .text-1 .h1 br {
    display: none;
  }

  h3 {
    font-size: 27px;
  }

}

@media (min-width: 992px) {
  .all-menu .nav-items {
    display: block;
  }

  .menu-con {
    display: block;
  }

  .menu-con .menubar {
    display: none;
  }

  .banner {
    grid-template-columns: auto 50%;
    justify-content: space-between;
  }

  .text-1 {
    order: 1;
  }

  .image-1 {
    order: 2;
  }

  .text-1 .h1 br {
    display: block;
  }

  .text-1 .p1 br {
    display: block;
  }

  .text-1 {
    text-align: start;
  }

  .text-1 .h1 {
    text-align: start;
    margin: 30px 0px;
  }

  .button-gs {
    margin: 0px;
  }

  .digital-2 .p2 {
    font-size: 12px;
  }

  .logo-group-5 img {
    height: 30px;
    width: 110px;
    margin-top: 15px;
    padding: 0px 10px;
  }

  .count-1 h2 {
    font-size: 40px;
  }

  .digital-3 .count-2 {
    display: flex;
    justify-content: center;
  }

  .arti-text h3 {
    font-size: 18px;
  }

  .arti-text .p4 {
    font-size: 17px;
    padding: 10px;
  }

  .arti .a_i {
    font-size: 16px;
  }
}

@media (min-width:1200px) {}

@media (min-width:1400px) {}