@media (min-width:320px) {
  .nav-items {
    display: none;
  }

  .menu-con .contact {
    display: none;
  }

.image1 {
    /* display: none; */
  }
}

@media (min-width:576px) {}

@media (min-width:768px) {
  .menu-con .contact {
    display: block;
  }

}

@media (min-width:992px) {
  .menubar {
    display: none;
  }

  .nav-items {
    display: block;
  }

}

@media (min-width:1200px) {}

@media (min-width:1400px) {}