* {
    box-sizing: border-box;
}

body {
    font-family: Urbanist, sans-serif;
}

.container {
    max-width: 1050px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 30px;
}

.navbar-item {
    padding-top: 20px;
}

.button-c {
    background-color: #5eb9f0;
    text-decoration: none;
    border: 0;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 50px 50px 50px 50px;
}

.digital {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 30px;
    line-height: 50px;
    text-align: left;
    color: #343f52;
    font-family: Urbanist, sans-serif;
}

.s1 {
    color: #5eb9f0;
}

.p1 {
    line-height: 25px;
    text-align: left;
    margin-bottom: 30px;
}

.button-gs {
    background-color: #5eb9f0;
    text-decoration: none;
    border: 0;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    height: 40px;
    width: 110px;
    border-radius: 50px 50px 50px 50px;
}

.image1 {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    height: 400px;
    width: 400px;
}

.p2 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #60697b;
    margin-top: 60px;
}

.logo-group-5 {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.p3{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color:5eb9f0;
    margin-top: 100px;
    font-weight:bold;    
}

.h2{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: 343f52;
    text-align: center;
}
